name: Triggered by Version Bump Release PR

on:
  pull_request:
    paths:
      - '!**'
      - version.txt

jobs:
  infos:
    name: infos
    runs-on: ubuntu-latest
    outputs:
      isVersionBump: ${{ steps.get-release-info.outputs.isVersionBump }}
    steps:
      - name: Echo infos
        run: echo '${{toJSON(github)}}'

      - name: checkout source code
        uses: actions/checkout@v1

      - name: get-release-info
        id: get-release-info
        uses: ./.github/actions/get-release-info
        with:
          versionString: ${{ github.event.pull_request.body }}

  dummyJob:
    name: Dummy placeholder job for tests
    runs-on: ubuntu-latest
    needs: infos
    if: needs.infos.outputs.isVersionBump == 'true'
    steps:
      - run: echo "Doing tests here"
      - run: echo "trigger test automation here"
      - run: echo "build packages here"